{% extends 'base.html.twig' %}

{% block title %}Opportunity index{% endblock %}

{% block body %}
    <h1>Opportunity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Topic</th>
                <th>Date</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for opportunity in opportunities %}
            <tr>
                <td>{{ opportunity.id }}</td>
                <td>{{ opportunity.topic }}</td>
                <td>{{ opportunity.date ? opportunity.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ opportunity.status }}</td>
                <td>
                    <a href="{{ path('opportunity_show', {'id': opportunity.id}) }}" class="button primary">show</a>
                    <a href="{{ path('opportunity_edit', {'id': opportunity.id}) }}" class="button secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('opportunity_new') }}" class="button primary">Create new</a>
{% endblock %}
