<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="top-bar margin-bottom-2" id="example-menu">
            <div class="top-bar-left">
                <ul class="vertical medium-horizontal menu" data-dropdown-menu>
                    <li class="menu-text">@UniLP CrM</li>
                    <li><a href="{{ path('contact_index') }}">Contact</a></li>
                    <li><a href="{{ path('opportunity_index') }}">Opportunité</a></li>
                    <li><a href="{{ path('product_index') }}">Produit</a></li>
                </ul>
            </div>
        </div>
        <div class="grid-container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
